@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacybeleid";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title mb-4">@ViewData["Title"]</h1>
                    <p class="card-text">Gebruik deze pagina om het privacybeleid van uw site te beschrijven.</p>
                </div>
            </div>
        </div>
    </div>
</div>
